/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap");

*:focus {
    outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  // background-color: rgba(255,255,223,0.3);
  // background-image: url(https://image.freepik.com/free-vector/library-interior-empty-room-reading-with-books-wooden-shelves_33099-1722.jpg);
  // background-image: url(https://image.freepik.com/free-vector/hand-drawn-autumn-background-with-leaves_23-2148220621.jpg);
  // background-image: url(https://image.freepik.com/free-vector/leaves-set_53876-91268.jpg);
  // background-blend-mode: luminosity;
  // background-color: rgba(0,0,0,0.78);
    // background-image: url(https://image.freepik.com/free-vector/violet-beautiful-flowers-leaves_23-2148383838.jpg);
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: luminosity;
    color: #230903;
}

ul {
  list-style-type: none;
  padding: 0;
}

input.middle:focus {
    outline-width: 0;
}

a {
  color: rgb(106, 154, 105);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #230903;
  text-decoration: none;
}

// NAVBAR

.logo-link {
  text-decoration: none;
  color: black;
}

.logo-link:hover {
  text-decoration: none;
  color: black;
  transform: scale(0.99)
}

.logo {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255, 0.89);
  box-shadow: 0 1px 34px rgba(0, 0,0, 0.8);
  font-family: 'Sacramento', cursive;
  border-radius: 5px;
  padding: 2px 10px 2px 5px;
}

.tree-logo {
  width: 50px;
}

.logo-text {
  padding-top: 10px;
  color: #230903
}

.header-nav {
  display: flex;
  // background-blend-mode: luminosity;
  align-items: center;
  padding: 10px 15px 10px 15px;
  justify-content: space-between;
  background: rgba(0,120,0,0.75);
  width: 100%;
  background-position-y: -326px;
  background-image: url(https://image.freepik.com/free-vector/collection-tropical-leaves_1324-119.jpg);
  box-shadow: 0 0px 10px rgba(30, 30, 30, 0.8);
  // position: fixed;
}

.header-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-button {
  border-radius: 5px;
  color: saddlebrown;
  border: none;
  margin-left: 20px;
  margin-right: 10px;
  box-shadow: 0 1px 21px rgba(0, 0,0, 0.8);
}

.header-button:hover {
  color: floralwhite;
  background: saddlebrown;
}

.header-name {
  font-size: 24px;
}

// LOGIN PAGE


.login-form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: -88px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -1000px;
  background-image: url(https://images.unsplash.com/photo-1510172951991-856a654063f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80);
}

.login-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.login-input {
	margin-left: 20px;
	float: right;
}

.login-form-box {
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  height: max-content;
  box-shadow: 0 0 3px grey;
  margin-top: 150px;
}

// .login-form-box > a:hover {
// 	color: darkslategray;
// }

// SEARCH PAGE

.main-search-page {
  margin-top: 50px;
}

.searched-index-wrapper {
  width: 90%;
}

.searched-books{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-index-list {
  display: flex;
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  // position: relative;
  // top: -20px;
}

.search-book-title-items {
  display: flex;
  flex-direction: column;
}

.search-title-text {
  display: flex;
  flex-direction: row;
 
}

.search-title-author {
  margin-left: 5px;
}

.search-book-image {
  height: fit-content;
  border-radius: 5px;
  margin: 3px;
  box-shadow: 1px 1px 5px black;
}

.book-search-titles {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding-left: 15px;
  margin-top: 2px;
  width: 202px;
}

// FOR BACKGROUND IMAGE ON .book-index-list
// .book-search-titles {
//     display: flex;
//     flex-direction: column;
//     margin-right: 5px;
//     margin-left: 15px;
//     width: 230px;
//     margin-top: 2px;
//     background-color: rgba(255, 255, 255, 0.98);
//     border-radius: 5px;
//     box-shadow: 1px 1px 5px grey;
//     padding: 5px;
// }

.search-image-wrapper {
  width: 128px;
}

.wishlist-dropdown {
  margin: 0  0 4px;
  width: fit-content;
}

.create-book-btn {
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  background: rgb(106, 154, 105);
  // background: rgb(196, 214, 209);
  width: 178px;
  color: #ffffff;
  padding: 5px;
}

// .create-book-btn:hover {
//   color: rgb(65, 89, 85);
// }

.create-exchange-book-btn {
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  background: rgb(213, 144, 102);
  // background: rgb(167, 117, 77);
  color: #ffffff;
  padding: 5px;
  width: 178px;
}

// .create-exchange-book-btn:hover {
//   // background-color: rgba(0, 128, 0, 0.85);
//   color: rgba(139, 69, 19, 0.96);
// }

.book-search-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-added {
  width: fit-content;
  margin-bottom: 5px;
}


.splash-page-jumbo {
  height: 350px;
  background-image: url(https://image.freepik.com/free-vector/leaves-set_53876-91268.jpg);
  // url(https://images.unsplash.com/photo-1476275466078-4007374efbbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1014&q=80);
  color: white;
  width: 100vw;
  overflow: hidden;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
  opacity: 0.9;
}

.splash-jumbo-image {
  object-fit: cover;
  opacity: 0.4;
}

.splash-logo {
  margin: 0px;
  font-size: 127px;
  color: #230903;
  // color: rgba(0,0,0,0.77);
  // color: rgba(255, 255, 255, 0.88);
  //   color: #dc3545;
  //   text-shadow: 1px 4px rgba(0,0,0,0.8);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 75px;
  padding: 10px 20px 20px 20px;
  font-family: 'Sacramento', cursive;
}

.search-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7px;
}

.search-bar {
    width: 500px;
    border-radius: 20px;
    // border: 1px solid rgba(0,0,0,0.225);
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .48);
    margin-top: -20px;
    // position: relative;
    // top: -45px;
}

.search-bar-and-icon {
  display: flex;
  // margin-bottom: 20px;
}

.google-search-form {
  width: 100%;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-icon:hover {
  transform: scale(0.99);
  color: #2ECC40;
}

.search-icon-button {
  padding-right: 7px;
  border: none;
  background: none;
}

.search-icon-button:hover {
  color: #2ECC40;
}

.book-icon {
  padding-left: 7px;
  padding-top: 2px;
}

#books-search {
  background: none;
  border: none;
  width: 99%;
  -webkit-appearance: none;
  padding-left: 10px;
}
// DISPLAY INDEXES

.book-index-item {
    display: flex;
    width: 25%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

// .wishlist-index {
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.my-gallery-class {
  margin-top: 20px;
  margin-left: 8%;
}

.wishlist-index-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wishlist-index-item {
    display: flex;
    flex-direction: column;
    width: 27%;
    float: left;
    margin: 15px 20px 20px 20px;
    // border: 1px solid gray;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 7px;
    background-color: white;
}

.wishlist-book-item {
  display: flex;
  padding: 0 0 7px;
  align-items: center;
}

.wishlist-book-item > div {
  flex-direction: column;
  margin-left: 12px;
}

.wish-index-book-img {
  height: 66px;
  width: 44px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px grey;
}

// EXCHANGE LISTS

.center-exchange-list {
  display: flex;
  justify-content: center;
}

.exchange-list-index > h1 {
  padding-top: 150px;
}

.exchange-list-wrapper {
  width: 27%;
  margin: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
}

.exchange-list-header {
  justify-content: center;
  display: flex;
  // border-bottom: 1px solid lightgray;
  // padding-bottom: 15px;
  // margin-bottom: 20px;
}

// MATCH LISTS

.wrapper-of-matches {
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.match-lists-header{
  display: flex;
  margin-top: 15px;
  font-family: "Sacramento";
  justify-content: center;
  font-size: 7em;
}

.user-match-header {
  // border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 90%;
  text-align: center;
}

.match-exchange-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.match-wish-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
}

// .match-titles-authors-ex-header{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   width: 100%;
// }

// .match-titles-authors-header{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   width: 100%;
// }

// .match-titles-authors {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   width: 100%;
// }

.match-book-exchange-list {
  // margin-right: 5px;
  width: 100%;
}

.match-book-wish-list {
  // margin-left: 5px;
  width: 100%;
}

.match-list-index-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 15px;
  float: left;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 15px;
  height: fit-content;
  background-image: url(https://image.freepik.com/free-vector/floral-background-with-soft-colors_23-2148345105.jpg);
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: luminosity;
}

.match-list-header-wrapper {
  display: flex;
  align-self: center;
}

.match-books-wrapper {
  // display: flex;
  // align-items: center;
}

.match-arrows {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  top: -10px;
}

.match-ul-books {
  display: flex;
  width: 100%;
  align-items: center;
}

.match-exchange-books-wrapper {
  justify-content: flex-end;
  display: flex;
  margin-right: 5px;
  margin-bottom: 3px;
}

.match-wish-books-wrapper {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 3px;
  margin-left: 5px;
}

.match-list-book-item {
  display: flex;
  justify-content: flex-end;
}

.match-wish-title-authors {
  margin-left: 5px;
}

.match-exchange-title-authors {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// BESTSELLERS LISTS

.nyt-bestsellers-wrapper {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  margin-left: 30px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.nyt-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.bestseller-title {
  text-transform: capitalize;
  // font-family: nyt-franklin,helvetica,arial,sans-serif;
  border: 0;
  padding: 5px;
  text-align: inherit;
  background-color: white;
}

.bestseller-title:hover {
  color: rgb(139, 69, 19);
}

.nyt-books-list {
  padding: 15px 0 0 25px;
}

#nyt-sellers-list {
  width: fit-content;
}


// BOOTSTRAP OVERRIDE

.dropdown-menu.show {
    display: block;
    width: 226px;
}
